:root {
  --navy-background: #1e1e1e;
  /* Dark navy background */
  --light-text: #ffffe0;
  /* Light text color */
  --gold-accent: #ffc857;
  /* Gold accent color */
  --teal-accent: #4fd1c5;
  /* Teal accent color */
  --coral-accent: #ff6b6b;
  /* Coral accent color */
}
.accent-color {
  color: var(--gold-accent);
}

img {
  max-width: 100%;
  /* Ensure images are responsive */
  height: auto;
  /* Maintain aspect ratio */
}

/* Set full height for body and html */
body,
html {
  height: 100%;
  margin: 0;
  /* Remove default margin */
}
button.carousel-control-prev,
button.carousel-control-next {
  z-index: 1000;
}
.z-index1000 {
  z-index: 1000;
}

/* Background colors */
.bg-Main {
  background: var(--navy-background);
}
.navbar {
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.27503501400560226) 0%,
    rgba(0, 0, 0, 0.7652310924369747) 100%
  );
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-nav {
  align-items: center;
}

/* Text colors */
.w-color {
  color: var(--light-text);
}

.w-color:hover {
  color: var(--gold-accent);
  /* Change color on hover */
}

/* Navbar brand styles */
.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 40px;
  /* Logo width */
  height: 40px;
  /* Logo height */
  margin-right: 15px;
  /* Spacing between logo and text */
}

/* Text stroke effect */
.webstrocke {
  -webkit-text-stroke: 1px black;
  /* Stroke for text */
}

/* Hero section background overlay */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent overlay */
}

/* Position for the get-in-touch button */
.get-in-touch {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  color: #ffffff;
  letter-spacing: 3px;
}
.cta-arrow {
  background: url('../svgs/NavArrowHover.png') no-repeat center center;
  background-size: auto 100%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 40px;
  height: 30px;
  margin: 0 auto;
  position: relative;
  top: 0;
  -webkit-transition: top 0.15s linear;
  -moz-transition: top 0.15s linear;
  -o-transition: top 0.15s linear;
  -ms-transition: top 0.15s linear;
  transition: top 0.15s linear;
}
.cta-arrow:hover{
  top: 5px;
}

.get-in-touch:hover .cta-arrow{
  top: 5px;
}

.a-btn{
  text-decoration: none;
  color: white;
}

/* Hero section styles */
.hero {
  background-size: cover;
  /* Cover the entire section */
  background-position: center;
  /* Center the background */
  height: 100vh;
  /* Full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* Relative positioning for child elements */
  overflow: hidden;
  margin: 0;
}

/* Center the hero content */
.hero-content {
  text-align: center;
  /* Center text */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.carousel-inner {
  z-index: 0;
}

.hero img {
  object-fit: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.flag-icon {
  width: 1.33333333em !important;
  margin-right: 2px;
  vertical-align: middle;
}

button.border-light-subtle {
  border-color: rgba(255, 255, 255) !important;
}
button.border-light-subtle.show {
  border-width: 0.125rem;
  border-color: rgba(255, 255, 255) !important;
}

.avatar-img {
  border-radius: 50%;
  width: auto;
  max-width: 150px;
}
.logo-img {
  width: auto;
  max-width: 150px;
  align-self: center;
}

.dark-fade-bg {
  background-color: rgba(255, 255, 255, 0.35); /* opacity for black background */
}

