@font-face {
    font-family: 'Yekan';
    src: url('./../Font/BYekan/BYekan.ttf') format('truetype');
}

body {
    font-family: 'Yekan',Arial, sans-serif;
}
html, body {
  height: 100%;
  margin: 0;
}

.hero {
  min-height: 100vh; /* Makes sure the hero section takes up the full viewport height */
}

.footer {
  margin-top: auto; /* Ensures the footer sticks to the bottom */
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
}
.navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-brand img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.hero {
    background-image: url('https://source.unsplash.com/random/1600x900/?san-francisco');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.hero-content {
    text-align: center;
    color: white;
    z-index: 1;
}
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.get-in-touch {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.pagination {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
}
.hero {
    position: relative;
  }
  
  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensures the content is on top of the carousel */
    color: white;
  }
  
  .carousel-inner {
    z-index: 0; /* Makes sure the carousel stays behind the text */
  }
  